*.iml
.gradle
/local.properties
/.idea
!.idea/codeStyles
!.idea/externalDependencies.xml
!.idea/saveactions_settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
./docker/platforms
./docker/tools
./docker/debug.keystore
./docker/release.jks
./docker/docker_build.sh
signingConfigRelease.gradle
driver-support-term.jks
